[Desktop Entry]
Name=MetaEditor
Exec=env WINEPREFIX="/config/.wine" wine C:\\\\users\\\\abc\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\MetaTrader\\ 4\\\\MetaEditor.lnk
Type=Application
StartupNotify=true
Path=/config/.wine/dosdevices/c:/Program Files (x86)/MetaTrader 4
Icon=0E14_MetaEditor.0
StartupWMClass=metaeditor.exe
